html,
body {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 26px 0;
    position: absolute;
    /* xét từ trong ra ngoài ta thấy body là thẻ cha luôn rồi nên ta ko cần position: relative;*/
    top: 0;
    left: 0;
    /* height: 80px; */
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* thẻ con vô giữa theo chiều ngang */
    /* align-items: center; */
    /* thẻ con vô giữa theo chiều dọc */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    /* display: flex; */
    width: 75%;
    /* margin: 0 auto; Nếu không dùng margin-auto ta dùng justify-content:center; nó đẩy vô giữa */
    margin: auto;
    max-width: 1200px;
    /* độ dãn tối đa là là1200px */
    letter-spacing: 1px;
    /* border: 1px solid blue; */
    /* justify-content: space-between; */
    /* giúp tách mỗi đứa ra một đầu  */

}

header .container nav a {
    text-decoration: none;
    margin: 0 20px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    transition: 0.3s;
    text-transform: uppercase;
}

header .container nav a:hover {
    color: #E62B4A;
}

.header__logo {
    font-size: 32px;
    /* font-weight: bold; */
    color: white;
    text-decoration: none;
}


.banner {
    background-image: url(./image-video/home_slider.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__container {
    /* border: 1px solid orange; */
    text-align: center;
    color: white;
}

.banner__container h1 {
    /* margin: 30px 0;
    font-size: 75px; */
    font-size: 75px;
    line-height: 90px;
    font-weight: 700;
}

.banner__container p {
    font-weight: 400;
    font-size: 25px;
}

.banner__container button {
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 25px;
    text-transform: uppercase;
    color: white;
    background-color: #e62b4a;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    /* cursor: pointer; dùng để có con trỏ chuột*/
}

.banner__container button:hover {
    background-color: #af2239;

}

.banner__container i {
    font-size: 35px;
    display: inline-block;
    margin-top: 50px;
    animation-name: animateArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animateArrow {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100px);
        opacity: 0;
    }
}

.services__slider {
    background-color: #000;
}

.slider__container {
    padding: 90px 0;
}

.services__content {
    text-align: center;

}

.services__content p:first-child {
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;

}

.services__content h2:nth-child(2) {
    font-size: 50px;
    font-weight: 400;
}

.services__content p:nth-child(3) {
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}

.slider__carousel {
    margin-top: 20px;
}

.slider__carousel .item__content {
    background-color: white;
    /* height: 100%; */
    color: #848482;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.slider__carousel .item__content::before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 5px;
    background-color: red;
    top: 0;
    right: 0;
    transition: 0.3s;
}

.slider__carousel .item__content:hover::before {
    height: 100%;
}

.slick-dots li.slick-active button:before {
    color: red;
    opacity: 0.8;
}

.slick-dots li button:before {
    color: white;
    opacity: 0.75;
    font-size: 15px;
}

.slider__carousel .carousel__item {
    /* height: 100%; */
    padding: 10px;
}

.item__content i {
    font-size: 50px;
    color: #888888;
}

.item__content p {
    font-size: 14px;
}

.blogs {
    padding: 80px 0;
}

.blog__list {
    display: grid;
    gap: 30px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.blog__list .blog__item {
    /* height: 300px; */
    /* border: 2px solid black; */
    position: relative;
}

.blog__list .blog__item img {
    height: 100%;
    width: 100%;
    filter: grayscale(50%) contrast(50%);
    /* tăng sắc độ màu xám của hình */
}

.blog__item .item__overlay {
    /* display: none; */
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(230, 43, 74, 0.6);
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    transition: 1s;
}

.blog__item:hover .item__overlay {
    opacity: 1;


}


.search i {
    background-color: #ffffff;
    color: #000;
}

.item__overlay .search {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 25px;
    top: 45px;
    color: #000;
    transition: 1s;
}



.blog__item:hover .search {
    top: 25px;
    background-color: #ffffff;

}

.blog__item:hover .overlay__title {
    bottom: 25px;
}

.item__overlay .overlay__title {
    position: absolute;
    left: 30px;
    bottom: 10px;
    transition: 1s;
}

.blog__item.blog__item-1 {
    /* grid-column: 1 / span 2; */
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.blog__item.blog__item-10 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.number {
    padding: 100px 80px;
    background-color: black;
    color: white;
}

.number__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.number__item p {
    font-size: 18px;
    color: #888888;
}

.number__item h2 {
    font-size: 60px;
    font-weight: 300;
}

.experience {
    background-image: url(./image-video/bussiness_img_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;

}



/* .title {
    text-align: center;
} */
.experience__content {
    width: 75%;
    margin: 30px auto 0;
}

.experience__content video {
    width: 100%;
    object-fit: cover;
    border: none;
    box-shadow: 0 2px 10px 1px rgb(0 0 0 / 50%);
    outline: none;
}

.contact {
    padding: 100px 0;
}

.contact__title {
    color: black;
    text-align: center;
}

.contact__title h2 {
    font-size: 50px;
    font-weight: 400;
}

.contact__title p {
    color: #888888;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}


.contact__content {
    width: 70%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    /* padding: 100px 0; */
}



.contact__map {
    width: 60%;
}

.contact__map iframe {
    width: 100%;
}

.contact__form {
    width: 40%;
}

.contact__form form {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.contact__form input,
.contact__form textarea {
    font-size: 15px;
    padding: 1em;
    border: 1px solid #888888;
    border-radius: 2px;
    margin-bottom: 30px;
}

.btnMei:hover {
    background-color: #e62b4a;
    border-color: #e62b4a;
}

.btnMei {
    padding: 20px 30px;
    border: 1px solid black;
    background-color: #000;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

footer {
    background-color: black;
}

.footer__content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.footer__content p {
    font-size: 14px;
}

.footer__content a:hover {
    background-color: #e62b4a;
}

.footer__content a {
    width: 54px;
    height: 54px;
    display: inline-block;
    border-radius: 50%;
    line-height: 54px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    margin-left: 5px;
    text-decoration: none;
    color: #ffffff;
    transition: all .5s;
}